# Postgres
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me

# Django
DJANGO_SECRET_KEY=change-me-in-your-local-env

# Ldap auth
AUTH_LDAP_BIND_DN=uid=user,ou=People,dc=example,dc=com
AUTH_LDAP_BIND_PASSWORD=change-me
AUTH_LDAP_SERVER_URI=ldap://example.com

# SIS sync
SIS_KEYCLOAK_TOKEN_URL="https://example.com/realms/myrealm/protocol/openid-connect/token"
SIS_CLIENT_ID="myclientid"
SIS_USER_NAME="myusername"
SIS_PASSWD="change-me"

# Budibase sync
BUDI_KEY="change-me"

# CAPTCHA
RECAPTCHA_PUBLIC_KEY="mypublickey"
RECAPTCHA_PRIVATE_KEY="change-me"

# Email
EMAIL_HOST=localhost
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
DEFAULT_FROM_EMAIL=no-reply@hua.gr
