Django
django-auth-ldap
django-crispy-forms
psycopg-binary
python-ldap
psycopg
crispy-bootstrap4
django-autocomplete-light
django-bootstrap-datepicker-plus
gunicorn
django-extensions
Pillow
django_rest_framework
requests
python-docx
docxtpl
docxcompose
WeasyPrint
pypdf
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
crispy-bootstrap5
pymssql
django-recaptcha
ipython
celery
django_celery_results
redis
Romanize
openpyxl
django-import-export[xlsx]==4.4.1
