{% load i18n %}
<div class="alert alert-info" role="alert">
<p> <b>Οδηγίες:</b></p>
<ul>
    <li class="li-info"> {% trans 'Στο πεδίο' %} <i>"{% trans 'Πλάνο Διδακτορικής Διατριβής' %}" </i> {% trans 'θα ανεβάσετε ένα αρχείο σε μορφή PDF το οποίο θα περιγράφει ένα σχέδιο δράσης για τα πρώτα βήματα της διδακτορικής διατριβής αν επιλεγείτε.' %}
    </li>
    <li class="li-info"> {% trans 'Στο πεδίο' %} <i>"{% trans 'Υπεύθυνη Δήλωση' %}" </i> {% trans 'θα ανεβάσετε ένα αρχείο υπεύθυνης δήλωσης ψηφιακά υπογεγραμμένο ή βεβαιωμένο από gov.gr στο οποίο θα αναγράψετε: '%} <i> "{% trans 'Όλα τα υποβαλλόμενα στοιχεία και πληροφορίες είναι αληθής και ακριβή. Επιπλέον, δεν είμαι εγγεγραμμένος/η σε διδακτορικό πρόγραμμα σπουδών, ούτε μου έχει αποδοθεί Διδακτορικός τίτλος σπουδών' %}" </i> {% trans 'και θα απευθύνεται στην γραμματεία του Τμήματος' %} {{ application.call.program.department.title_gr }} / {{ application.call.program.department.title_en }}.
    </li>
</ul>
</div>
