{% load i18n %}
<div class="row">
    <div class="col text-center landing-button-col ">        
        <a class="nav-link-icon" href="{{ app_url }}?next={{ request.path }}" > <span class="mto" style="font-size: 20pt;"> docs</span> <div class="app-div">Κύριο Σώμα της Αίτησης</div> </a>
    </div>
</div>

<div class="row">
<div class="col text-center landing-button-col ">        
        <a class="nav-link-icon" href="{{ pi_url }}?next={{ request.path }}" > <span class="mto" style="font-size: 20pt;"> person</span> <div class="app-div">Προσωπικά Στοιχεία</div> </a>
    </div>
</div>

<div class="row">
<div class="col text-center landing-button-col ">        
        <a class="nav-link-icon" href="{{ extra_url }}?next={{ request.path }}" > <span class="mto" style="font-size: 20pt;"> add_box</span> <div class="app-div">Επισυναπτόμενα</div> </a>
    </div>
</div>

<div class="row">
<div class="col text-center landing-button-col ">        
        <a class="nav-link-icon" href="{{ rc_url }}?next={{ request.path }}" > <span class="mto" style="font-size: 20pt;"> mail</span> <div class="app-div">Συστατικές Επιστολές</div> </a>
    </div>
</div>
{% if submit_url %}
<div class="row">
<div class="col text-center landing-button-col ">        
        <a class="nav-link-icon" href="{{ submit_url }}" > <span class="mto" style="font-size: 20pt;"> done</span> <div class="btn btn-success submit-app-div">Υποβολή</div> </a>
    </div>
</div>
{% endif %}

</br>
</br>
</br>
</br>
{% if delete_url %}

<div class="row">
<div class="col text-center landing-button-col ">        
        <a class="nav-link-icon" onclick="delete_obj(); return false;" href="#" > <span class="mto" style="font-size: 20pt;"> report</span> <div class="btn btn-danger submit-app-div">Διαγραφή Αίτησης</div> </a>
    </div>
</div>
<script>
    function sweetConfirm(message, confirmText="{% trans 'Εντάξει' %}", cancelText="{% trans 'Άκυρο' %}") {
    return Swal.fire({
        text: message,
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: confirmText,
        cancelButtonText: cancelText,
        confirmButtonColor: "#d33",
        reverseButtons: true
    }).then((result) => {
        return result.isConfirmed;
    });
    }
    async function delete_obj() {
    var result = await sweetConfirm(
        "{% trans 'Είστε σίγουροι; Θα διαγραφούν όλα τα στοιχεία της αίτησης σας!' %}",
        "{% trans 'Διαγραφή Αίτησης!' %}",
        "{% trans 'Άκυρο!' %}"        
    );
    if (result) {
      window.location.replace('{{ delete_url }}');      
    }
    }
</script>  
{% endif %}
