{% load i18n %}

<div class="row">
    <div class="col text-center landing-button-col ">        
        <a class="nav-link-icon" href="{{ app_url }}?next={{ request.path }}" > <span class="mto" style="font-size: 20pt;"> docs</span> <div class="app-div">Κύριο Σώμα της Αίτησης</div> </a>
    </div>
</div>

<div class="row">
<div class="col text-center landing-button-col ">        
        <a class="nav-link-icon" href="{{ pi_url }}?next={{ request.path }}" > <span class="mto" style="font-size: 20pt;"> person</span> <div class="app-div">Προσωπικά Στοιχεία</div> </a>
    </div>
</div>

<div class="row">
<div class="col text-center landing-button-col ">        
        <a class="nav-link-icon" href="{{ extra_url }}?next={{ request.path }}" > <span class="mto" style="font-size: 20pt;"> add_box</span> <div class="app-div">Επισυναπτόμενα</div> </a>
    </div>
</div>

<div class="row">
<div class="col text-center landing-button-col ">        
        <a class="nav-link-icon" href="{{ rc_url }}?next={{ request.path }}" > <span class="mto" style="font-size: 20pt;"> mail</span> <div class="app-div">Συστατικές Επιστολές</div> </a>
    </div>
</div>