{% extends 'phdapplications/phdapp.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block middle %}
<h3> {% trans 'Επισκόπηση Αίτησης' %} </h3>
{% include 'phdapplications/partials/app_info.html' %}
<div class="alert alert-primary" role="alert">
  <p> {% trans 'Εδώ μπορείτε να υποβάλλετε αίτηση για εκπόνηση διδακτορικής διατριβής.' %}</p>
  <ul>  
  <li> {% trans 'To κύριο σώμα της αίτησης σας, περιλαμβάνει στοιχεία σχετικά με το πλάνο διδακτορικής διατριβής και άλλες απαιτούμενες από την πρόσκληση πληροφορίες.' %}</li>
  <li> {% trans 'Τα προσωπικά στοιχεία της αίτησης σας, περιλαμβάνουν στοιχεία που αφορούν την ταυτοποίηση σας.' %}</li>  
  <li> {% trans 'Στα επισυναπτόμενα μπορείτε να καταχωρήσετε τα πτυχία σας, την εργασιακή σας εμπειρία και τις δημοσιεύσεις σας.' %}</li>
  <li> {% trans 'Στις συστατικές επιστολές θα καταχωρήσετε σημεία επαφής που θα προσκληθούν από το σύστημα να παρέχουν συστατική επιστολή' %}</li>  
  <li> {% trans 'Όταν ολοκληρώσετε την καταχώρηση των στοιχείων σας πατήστε "Υποβολή" για να υποβάλλεται την αίτηση στο σύστημα. Μέχρι την ημερομηνία λήξης της πρόσκλησης μπορείτε να κάνετε αλλαγές στην αίτηση σας.' %}</li>
</ul>
</div>
</br>
</br>
</br>
</br>
{% include 'phdapplications/partials/candidate_app_menu.html' %}

{% endblock %}
