{% extends 'phdapplications/phdapp.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block middle %}

<h4> {{ headline }} </h4>

{% crispy form %} 

{% if form.instance.pk %}
<p></p>
<div class="row">
  <div class="col-sm-6">
    <button type="button" class="btn btn-danger" onclick="delete_obj()">
      {% trans 'Διαγραφή' %}
  </button>  
  </div>
  <div class="col-sm-6">
  </div>  
</div>
<script>
    function delete_obj() {
    var result = confirm("{% trans 'Είστε σίγουροι;' %}");
    if (result) {
      window.location.replace('{% url 'phdapplications:applicant_obj_delete' obj_type form.instance.pk %}');
    }
    }
</script>  
{% endif %}

{% endblock %}