{% extends 'myprofile/page.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block middle %}
{% if headline_above %}
<h5> {{ headline_above }}</h5>
{% endif %}

{% if above_p %}
<div class="row text-center">
<p> {{ above_p }} </p>
</div>
{% endif %}

{% block alert %}
{% if form.errors %}
<div class="alert alert-danger" role="alert">
<p> {% trans 'Παρακαλούμε διορθώστε τα σφάλματα στην φόρμα όπως εμφανίζονται παρακάτω.' %}</p>
</div>
{% endif %}
{% endblock %}

{% if button_above_text %}
<div class="row text-center justify-content-center">
  <div class="col-sm-6 text-center">
    {% if button_above_next %}
    <a href="{{ button_above_url }}?next={{ button_above_next }}" class="{{ button_above_classes }}"><span class="mto">{{ button_above_icon }} </span> {{ button_above_text }}</a>
    {% else %}
    <a href="{{ button_above_url }}" class="{{ button_above_classes }}"><span class="mto">{{ button_above_icon }} </span> {{ button_above_text }}</a>
    {% endif %}
  </div>
</div>
</br>
{% endif %}

<h4> {{ headline }} </h4>

{% crispy form %} 

{% if delete_url %}
{% if form.instance.pk %}
<p></p>
<div class="row">
  <div class="col-sm-6">
    <button type="button" class="btn btn-danger" onclick="delete_obj()">
      <span class="mto">{{ delete_icon }}</span>{{ delete_text }}
  </button>  
  </div>
  <div class="col-sm-6">
  </div>  
</div>

<script>
    function sweetConfirm(message, confirmText="{% trans 'Εντάξει' %}", cancelText="{% trans 'Άκυρο' %}") {
    return Swal.fire({
        text: message,
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: confirmText,
        cancelButtonText: cancelText,
        confirmButtonColor: "#d33",
        reverseButtons: true
    }).then((result) => {
        return result.isConfirmed;
    });
    }
    async function delete_obj() {
    var result = await sweetConfirm(
        "{% trans 'Είστε σίγουροι; ' %}",
        "{% trans 'Διαγραφή!' %}",
        "{% trans 'Άκυρο' %}"        
    );
if (result) {
      {% if success_url %}
      window.location.replace('{{ delete_url }}?next={{ success_url }}');      
      {% else %}
      window.location.replace('{{ delete_url }}');      
      {% endif %}
    }
}
</script>  
{% endif %}
{% endif %}
{% endblock %}
