{% extends 'myprofile/page.html' %}

{% block middle %}

  
<script>
    $(document).ready(function() {
      $('#courses').DataTable({
        "lengthChange": false,
        "pageLength": 100
      }
      );
    });
  </script>
{% if programs %}
<div class="row justify-content-center">
    <h3> Εξαγωγή (csv): </h3>  
</div> 

<div class="row justify-content-center">
  {% for p in programs %}
  <div class="col-sm-2 text-center">
    <a href="{% url 'curricula:export_program' p.id %}"> {{ p.title_gr }} </a>
  </div>
  {% endfor %}
</div>
<p></p>
{% endif %}

<div class="row">
  <div class="col">
    <h3> Μαθήματα: </h3>
  </div>
</div> 
</br>
{% if courses %}  
<table id="courses" class="table">
    <thead>
      <tr>
        <th scope="col">Τίτλος</th>
        <th scope="col">Πρόγραμμα Σπουδών</th>
        <th scope="col">Κωδικός</th>
        <th></th>
      </tr>
    </thead>    
  </tbody>
  {% for course in courses %}
  <tr>
    <td>
      {{ course.title_gr }}
    </td>
    <td>
      {{ course.program.title_gr }}
    </td>
    <td>
      {{ course.code_gr }}
    </td>
          
    <td>
    <a href="{% url 'curricula:staff_edit_course' course.id %}" type="submit" class="btn btn-primary tablebutton"> Επεξεργασία </a>
    <a href="{% url 'curricula:export_course_gr' course.id %}" type="submit" class="btn btn-primary tablebutton"> GR </a>
    <a href="{% url 'curricula:export_course_en' course.id %}" type="submit" class="btn btn-primary tablebutton"> ΕΝ </a>
    
  </td>           
      
  </tr>
  {% endfor %}
  </tbody>
  </table>
  {% else %}
  <p>Δεν έχετε καταχωρήσει μαθήματα</p>
  {% endif %}


{% endblock %}
