{% extends 'myprofile/page.html' %}

{% block middle %}

  
<script>
    $(document).ready(function() {
      $('#projects').DataTable({
        "lengthChange": false,
        "pageLength": 100,
        "order" : [[ 0, "desc" ]],
      }
      );
    });
  </script>
<div class="row">
  <div class="col-sm-8">
    <h3> Έργα </h3>
  </div>
  <div class="col-sm-2 text-end">
    <a href="{% url 'projects:sec_create_project' %}" class="btn btn-primary" >
      + Νέο Έργο
    </a>
  </div>
  <div class="col-sm-2  text-end">
    <a href="{% url 'projects:export' %}" class="btn btn-primary" >
    Εξαγωγή
    </a>
  </div>
</div> 
</br>
{% if projects %}  
<table id="projects" class="table">
    <thead>
      <tr>
        <th scope="col">Υποβολή</th>        
        <th scope="col">Τίτλος</th>
        <th scope="col">Συντονιστής</th>
        <th scope="col">Πρακτικό Υποβολής</th>
        <th scope="col">Πρακτικό Υλοποίησης</th>        
        <th></th>
      </tr>
    </thead>    
  </tbody>
  {% for p in projects %}
  <tr>
    <td>
      {{ p.created_date|date:"Y-m-d" }}
    </td>
    
    <td>
      {{ p.title }}
    </td>
    <td>
      {{ p.coordinator.display_name }}
    </td>
    <td>
      {% if p.document_approved_submission %} Ναι {% else %} Όχι {% endif %}
    </td>
    <td>
      {% if p.document_approved_implementation %} Ναι {% else %} Όχι {% endif %}
    </td>
    <td>
      <a href="{% url 'projects:sec_edit_project' p.id %}" type="submit" class="btn btn-primary tablebutton"> Επεξεργασία </a>     
  </td>           
      
  </tr>
  {% endfor %}
  </tbody>
  </table>
  {% else %}
  <p>Δεν έχετε καταχωρήσει έργα</p>
  {% endif %}


{% endblock %}
