{% extends 'myprofile/page.html' %}
{% load crispy_forms_tags %}
{% load profile_tags %}
{% block middle %}

{% crispy form %} 

{% if form.instance.pk and form.instance.is_editable %}
<p></p>
<button type="button" class="btn btn-danger" onclick="delete_obj()">
    Διαγραφή
</button>
<script>
    function delete_obj() {
    var result = confirm("Είστε σίγουροι;");
    if (result) {
      window.location.replace('{% url 'projects:staff_delete_project' form.instance.pk %}');
    }
    }
</script>  
{% endif %}

{% endblock %}