{% extends 'myprofile/page.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block middle %}

<h3> <span class="mto">key</span>{% trans 'Επαναφορά κωδικού' %}</h3>
{% trans 'Επιλέξτε ένα από τα παρακάτω' %}:
</br>
</br>
</br>
</br>

<h4> <span class="mto">home</span>{% trans 'Εσωτερικός Χρήστης' %} </h4>
<p> {% trans 'Είστε εσωτερικός χρήστης' %} ({% trans 'δηλαδή συνδέεστε με ιδρυματικό email' %}) </p>
<p> {% trans 'Μεταβείτε' %} <a href="https://accounts.ditapps.hua.gr">{% trans 'εδώ' %}</a> {% trans 'για να επαναφέρετε τον κωδικό σας' %}</p>
</br>
</br>
<h4> <span class="mto">orbit</span>{% trans 'Εξωτερικός Χρήστης' %} </h4>
<p> {% trans 'Είστε εσωτερικός χρήστης' %} ({% trans 'δηλαδή συνδέεστε με κάποιο εξωτερικό email' %})</p>
<p> {% trans 'Μεταβείτε' %} <a href="{% url 'myprofile:forgot_password' %}">{% trans 'εδώ' %}</a> {% trans 'για να επαναφέρετε τον κωδικό σας' %}</p>

{% endblock %}